.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
}

@media (max-width: 1024px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 700px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

.buttonContainer {
    position: relative;
}

.button {
    padding: 0.5rem 1rem;
    background: rgba(var(--card-rgb), 0);
    border: 1px solid rgba(var(--card-border-rgb), 0);
    transition: background 200ms, border 200ms;
    cursor: pointer;
    text-align: left;
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
    border-radius: var(--border-radius);
    margin-bottom: 20px;
    margin-right: 20px;
    min-width: 10rem;
    width: 100%;
    max-width: 100%;
}

.button:hover {
    background: rgba(var(--card-rgb), 0.3);
    border: 1px solid rgba(var(--card-border-rgb), 0.45);
}

.button span {
    transition: transform 200ms;
    vertical-align: text-bottom;
    margin-left: 0.5rem;
}

.removeContainer {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    z-index: 10;
}

.removeCoinButton {
    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.removeCoinButton:hover {
    color: rgba(255, 255, 255, 0.8);
}

.tooltip {
    position: absolute;
    bottom: 100%;
    right: 0;
    background-color: #2558a0ff;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 0.8rem;
    white-space: nowrap;
    cursor: pointer;
    margin-bottom: 5px;
    font-family: 'Inter', sans-serif;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.tooltip:hover {
    background-color: #2d6dc7ff;
}

.button h2 {
    font-weight: 600;
    margin-bottom: 0.7rem;
}

.button p {
    margin: 0;
    opacity: 0.8;
    font-size: 0.9rem;
    line-height: 1.5;
    max-width: 30ch;
}

.button p:nth-last-child(1) {
    font-size: 0.7rem;
    color: #777ace;
    text-align: left;
}

.addCoinButton {
    background: #777ace;
    border: none;
    borderRadius: 4px;
    padding: 4px 8px;
    color: white;
    cursor: pointer;
    fontSize: 0.8rem;
}

.inputText {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccccccb4;
    background-color: #22245dff;
    color: white;
}

/* Mobile */
@media (max-width: 700px) {
    .button {
        margin-bottom: 0;

    }

}