.buttonContainer {
    position: relative;
}

.button {
    padding: 0.5rem 1rem;
    background: rgba(var(--card-rgb), 0);
    border: 1px solid rgba(var(--card-border-rgb), 0);
    transition: background 200ms, border 200ms;
    cursor: pointer;
    text-align: left;
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
    border-radius: var(--border-radius);
    margin-bottom: 20px;
    min-width: 10rem;
    width: 12rem;
    max-width: 100%;
}

.button:hover {
    background: rgba(var(--card-rgb), 0.3);
    border: 1px solid rgba(var(--card-border-rgb), 0.45);
}

.button span {
    transition: transform 200ms;
    vertical-align: text-bottom;
    margin-left: 0.5rem;
}

.removeCoinButton {
    position: absolute;
    right: 3.5rem;
    top: -0.5rem;
    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    font-size: 1.5rem;
    z-index: 10;
}

.removeCoinButton:hover {
    color: rgba(255, 0, 0, 1);
}

.button h2 {
    font-weight: 600;
    margin-bottom: 0.7rem;
}

.button p {
    margin: 0;
    opacity: 0.8;
    font-size: 0.9rem;
    line-height: 1.5;
    max-width: 30ch;
}

.button p:nth-last-child(1) {
    font-size: 0.7rem;
    color: #777ace;
    text-align: left;
}

.addCoinButton {
    background: #777ace;
    border: none;
    borderRadius: 4px;
    padding: 4px 8px;
    color: white;
    cursor: pointer;
    fontSize: 0.8rem;
}

.inputText {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccccccb4;
    background-color: #22245dff;
    color: white;
}

/* Mobile */
@media (max-width: 700px) {
    .buttonContainer {
        position: relative;
        padding-left: 2rem;
    }

    .button {
        display: block;
        padding: 0.5rem 1rem;
        width: auto;
        margin: 0 40px 20px 40px;
        text-align: center;
    }

    .button p:nth-last-child(1) {
        text-align: center;
    }

    .button h2 {
        margin-bottom: 0.5rem;
    }

    .removeCoinButton {
        right: 5rem;
        top: 0;
        font-size: 2rem;
    }

}