.main {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  min-height: 100vh;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 1.5rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description p {
  position: relative;
  margin: 0;
  padding: 0.5rem 1rem;
  font-size: 2.4rem;
  background-color: rgba(var(--callout-rgb), 0.2);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  justify-items: stretch;
  align-items: center;
  max-width: 100%;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-family: monospace;
  color: deeppink;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .button:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }
}

/* Mobile */
@media (max-width: 700px) {
  .main {
    padding: 1rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 20px;
    text-align: center;
  }

  .button {
    padding: 1rem 2.5rem;
  }

  .button h2 {
    margin-bottom: 0.5rem;
  }

  .description p {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    font-size: 1.2rem;
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    height: 3rem;
    background-color: black;
    z-index: 1;
  }
}
